WebService_To_WCF_Converter/ConsoleApplication_testWCF/ConsoleApplication_testWCF/Service References/ServiceReference_wcfServiceHost/SampleWebService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56291/SampleWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContract.Entities" />
  <xs:import schemaLocation="http://localhost:56291/SampleWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBond">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bondNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBondResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContract.Entities" minOccurs="0" name="RetrieveBondResult" nillable="true" type="q1:BondObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondsForAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondsForAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContract.Entities" minOccurs="0" name="GetBondsForAccountResult" nillable="true" type="q2:ArrayOfBondObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidBond">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bondNumber" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidBondResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidBondResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBond">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataContract.Entities" minOccurs="0" name="bond" nillable="true" type="q4:BondObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBondResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataContract.Entities" minOccurs="0" name="bond" nillable="true" type="q5:BondObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>